{% extends "homepage/base_template.html" %}
{% load jsignature_filters %}

<div class="container-fluid">
    {% block content %}

    {% if intake.is_external %}
    <h1> Suppliers Cherry Intake Details </h1>

    {% else %}
    <h1> Own Cherry Intake Details </h1>
    {% endif %}
    <p> </p>
    <p> </p>

    {% if message %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endif %}


    <fieldset disabled>

        <legend>Intake Details {{intake.id}}</legend>

        <div class="row">

            <div class="col-lg-6 ">
                <label for="name">Supervisor Name</label>
                <input type="text" class="form-control" value="{{intake.supervisor_name}}" placeholder="Supervisor name"
                    id="name" aria-label="Supervisor name" />
            </div>
            <div class="col-lg-6">
                <label for="Location">Location</label>
                <input type="text" class="form-control" value="{{intake.lot_location}}" placeholder="Location"
                    id="Location" aria-label="Location">
            </div>
        </div>

        <div>&nbsp;</div>
        <div class="row">

            <div class="col-lg-6">
                <label for="intake_date">Intake Date</label>
                <input type="text" class="form-control" value="{{intake.created_date}}" placeholder="Intake Date"
                    id="intake_date" aria-label="Intake Date">
            </div>
            <div class="col-lg-6">
                <label for="box_count">Box Count </label>
                <input type="text" class="form-control" value="{{intake.total_box_count}}" placeholder="Box Count"
                    id="box_count" aria-label="Box Count">
            </div>
        </div>

        <div>&nbsp;</div>

        {% if intake.is_floated %}
        <div class="row">

            <div class="col-lg-6">
                <label for="box_count">Floated Box Count </label>
                <input type="text" class="form-control" value="{{intake.passed_float_box_count}}"
                    placeholder="Box Count" id="box_count" aria-label="Box Count">
            </div>
        </div>

        {% endif %}


        {% if intake.is_external %}

        <div class="row">

            <div class="col-lg-6">
                <label for="External_Supplier">From External Supplier? </label>
                <input type="text" class="form-control" value="{{ intake.is_external | yesno:'Yes, No'}}"
                    placeholder="External Supplier" id="External_Supplier" aria-label="External Supplier">
            </div>

            <div class="col-lg-6">
                <label for="Supplier_Name">Supplier Name </label>
                <input type="text" class="form-control" value="{{ intake.supplier_name.name}}"
                    placeholder="Supplier_Name" id="Supplier_Name" aria-label="Supplier_Name">
            </div>

        </div>
        <div>&nbsp;</div>

        <div class="row">

            <div class="col">
                <label for="intake_notes">Intake Notes </label>
                <input type="text-area" class="form-control" value="{{ intake_notes.notes|default_if_none:'N/A'}}"
                    placeholder="" id="intake_notes" aria-label="intake_notes">
            </div>

        </div>
        <div>&nbsp;</div>
        {% endif %}

        <div class="row">


            <div class="col-lg-6">
                <label for="External_Supplier">Batch Status </label>
                <input type="text" class="form-control" value="{{ intake_details.status}}"
                    placeholder="External Supplier" id="External_Supplier" aria-label="External Supplier">
            </div>

        </div>


        <div>&nbsp;</div>

        <div class="row">
            <div class="col">
                <label for="signature">Supervisor Sign</label>
                <span>
                    <img class="img-fluid img-thumbnail rounded d-block" id="signature"
                        src="{{ intake.supervisor_signature|signature_base64 }}" height="50" width="250"
                        alt="Supervisor signature" />
                </span>
            </div>
        </div>

        <div>&nbsp;</div>

        <div class="row">
            {% for file in uploaded_files %}
            <a href="{{MEDIA_URL}}{{ file.proof_file }}" target="_blank"> {{ file.proof_file |cut:"documents/" }} </a>
            {% endfor %}


        </div>





    </fieldset>


    {% endblock %}

</div>