{% extends "homepage/base_template.html" %}


{% block content %}

<div class="col-lg-6">
    <h1 class="display-4">Own Intake</h1>

    {{ form.media }}
    <form method="post" enctype="multipart/form-data" class="form">

        <div class="form-group">

            {{ form }}

            <div>&nbsp;</div>
            <div class="row">
                <div class="col">
                    <input type="reset" value="Cancel" class="btn btn-outline-secondary">
                </div>
                <div class="col">

                    <input type="submit" value="Submit" class="btn  btn-primary">
                </div>
            </div>
            {% csrf_token %}
        </div>

    </form>
</div>
{% endblock %}