{% extends "homepage/base_template.html" %}


{% block content %}
<h1> own intake </h1>

{{ form.media }}
<form method="post"  enctype="multipart/form-data" class="form">
    <div class="container-fluid">
        <div class="col-md-5">

          
            <div class="form-group">


                {{ form }}

                <input type="reset" value="Cancel" class="btn btn-outline-secondary">
               
                <input type="submit" value="Submit" class="btn  btn-primary">
                {% csrf_token %}
            </div>

        </div>

    </div>

</form>


{% endblock %}