{% extends "homepage/base_template.html" %}


{% block content %}

<div class="col-lg-6">
    <h1 class="display-4">Own Intake</h1>

    {{ form.media }}
    <form method="post" enctype="multipart/form-data" class="form">

        <div class="form-group">

            {{ form }}

            <input type="reset" value="Cancel" class="btn btn-outline-secondary">

            <input type="submit" value="Submit" class="btn  btn-primary">
            {% csrf_token %}
        </div>

    </form>
</div>
{% endblock %}