{% extends "homepage/base_template.html" %}

{% block content %}
 <h1> Intake Dashboard!</h1>

 <table class="table">
    <thead>
    <tr>
        <th>Intake ID</th>
        
        <th>Intake Person</th>

        <th>Location</th>

        <th>Intake Date</th>
        
        <th>From Supplier?</th>

        <th>Floated?</th>

    </tr>
    </thead>
    <tbody>
    {% for item in query_results %}
    <tr> 
        <td><a href="beans_intake/{{ item.id }}"> {{item.id}}  </a></td> 
        
        <td>{{ item.supervisor_name }}</td>

        <td>{{ item.lot_location |default_if_none:"N/A" }}</td>

        <td>{{ item.created_date }}</td>
        <td>{{ item.is_external | yesno:'Yes, No'}}</td>

        <td>{{ item.is_floated | yesno:'Yes, No'}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 
{% endblock %}