{% extends "homepage/base_template.html" %}

{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}

<div class="col-md">
    <h1 class="display-4">Hulling and Grading</h1>
    <p>
        &nbsp;
    </p>
    <div class="">

        {% if batch_type == 'CH' %}
        <h4> Intake ID : {{intake_detail.intake.id}} </h4>
        <table class="table table-primary table-bordered">
            <tr>

                <th> Supplier</th>

                <th> Location</th>

                <th> Full Bags</th>

                <th> Partial Bag weight (kgs)</th>

                <th> Graded Bags</th>

                <th> Partial Bag graded?</th>

                <th> Resting Period</th>

                <th> Intake Date</th>

            </tr>
            <tr>

                <td>{{intake_detail.intake.supplier_name|default_if_none:"Self"}}</td>

                <td>{{intake_detail.intake.lot_location|default_if_none:"N/A"}}</td>


                <td> {{intake_detail.full_bags}}</td>


                <td> {{intake_detail.partial_bag_weight}} </td>

                <td> {{total_hulled_graded_bags| default:"0.0"}} </td>


                <td> {{partial_intake_exists| yesno:'Yes, No'}} </td>


                <td>{{ intake_detail.created_date |timesince }}</td>

                <td>{{ intake_detail.intake.created_date }}</td>

            </tr>

        </table>
        {% else %}

        <h4> Intake ID : {{intake_detail.id}} </h4>
        <table class="table table-primary table-bordered">
            <tr>
                <th> Supplier</th>

                <th> Total Bags</th>

                <th> Total Weight</th>

                <th> Resting Period</th>

                <th> Intake Date</th>

            </tr>
            <tr>

                <td>{{intake_detail.supplier}}</td>

                <td> {{intake_detail.total_bags_count}}</td>

                <td> {{intake_detail.total_weight}} </td>

                <td>{{ intake_detail.resting_period}}</td>

                <td>{{ intake_detail.created_date }}</td>

            </tr>

        </table>
        {% endif %}
    </div>

    <p>
        &nbsp;
        <hr>
        &nbsp;
    </p>


    <form method="post" class="form">

        <div class="d-none">

            <div class="col">
                {{ form.batch_type|as_crispy_field }}
            </div>

         

            <div class="col">
                {{ form.intake_id|as_crispy_field }}
            </div>

        </div>


        <div class="form-group row">

            <div class="col">
                {{ form.no_of_full_bags|as_crispy_field }}
            </div>

            {% if batch_type == 'CH' %}
            <div class="col">
                {{ form.partial_weight|as_crispy_field }}
            </div>
            {% else %}
                <input type="hidden" value="0" name="partial_weight" />
            {% endif %}

        </div>

        <div>&nbsp;</div>


        <div class="form-group row">

            <div class="col">
                {{ form.supervisor_name|as_crispy_field }}
            </div>

        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>


        <div class="form-group row">
            <div class="col">
                <a href="/hull_grade/" class="btn btn-outline-secondary"> Cancel </a>
            </div>
            <div class="col">
                <input type="submit" value="Submit" class="btn  btn-primary">
            </div>
            {% csrf_token %}
        </div>

    </form>
</div>
{% endblock %}