{% extends "homepage/base_template.html" %}

{% block content %}
<h1> Confirm move of batch to Drying </h1>

<table class="table">
    <thead>
        <tr>
            <th>Intake ID</th>

            <th>Location</th>

            <th>Intake Date</th>

            <th>Batch Status</th>

            <th>Batch Action</th>

        </tr>
    </thead>
    <tbody>
        {% for item in query_results %}
        <tr>
            <td><a href="/beans_intake/{{ item.intake.id }}"> {{item.intake.id}} </a></td>

            <td>{{ item.intake.lot_location |default_if_none:"N/A" }}</td>

            <td>{{ item.intake.created_date }}</td>
            <td>{{ item.status }}</td>

            <td>
                <a href="get_batch_details/{{item.intake.id}}/" class="btn btn-primary btn-sm">Move to next stage </a>
            </td>
        </tr>


        {% endfor %}
    </tbody>
</table>

{% endblock %}